
.grass {
  background-image: url(2c_css_svgs.png);
  background-position: 0px 0px;
  width: 256px;
  height: 256px;
}

.manual_good_30 {
  background-image: url(2c_css_svgs.png);
  background-position: 0px -256px;
  width: 1128px;
  height: 1128px;
}

.manualcss_v2 {
  background-image: url(2c_css_svgs.png);
  background-position: 0px -431px;
  width: 1128px;
  height: 1128px;
}

.manualcss_v2c {
  background-image: url(2c_css_svgs.png);
  background-position: 0px -606px;
  width: 1128px;
  height: 1128px;
}

.manualcss_v2d {
  background-image: url(2c_css_svgs.png);
  background-position: 0px -1734px;
  width: 1128px;
  height: 1128px;
}

.manuallcss_2b {
  background-image: url(2c_css_svgs.png);
  background-position: 0px -2862px;
  width: 1128px;
  height: 1128px;
}

